<style>
		body {
		    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		    font-size: 14px;
		    line-height: 1.42857143;
		    color: #333;
		    background-color: #fff;
		}
		.container {
		    width: 90%;
		    max-width: 1140px;
		    margin-right: auto;
		    margin-left: auto;
		}
		
		#ped {text-align:center;}
		.btn {
		color: #333;
		    background-color: #fff;
		    border: 1px solid #ccc;
		    display: inline-block;
		    padding: 6px 12px;
		    cursor: pointer;
		    margin-left: 5px;
		    border-radius: 4px;
		}
		#opts {
			background-color: #F5F5F5;
			padding: 10px;
			border: 1px solid #ccc;
			font-size: 13px;
    		line-height: 1.42857143;
			overflow: auto;word-wrap: normal;
			border-radius: 4px;
		}
		#history_ex1 {
			padding: 10px;
		}
		.text-center {
			text-align: center;
			padding: 0 20px;
		}
	</style>